body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter
}

@tailwind base;
@tailwind components;
@tailwind utilities;